<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--
      - meta tags           
    -->
    <title>Login | Noxtify</title>
    <meta name="title" content="Login | Noxtify">
    <meta name="description" content="Noxtify is a way to listen to millions od songs without having to download them.">

    <!--
      - favicon
    -->
    <link rel="shortcut icon" href="/public/images/favicon.svg" type="image/svg+xml"> 

</head>

<body>
    <h1>Hello World</h1>
</body>
</html>